# shellcheck: bash
strict_env
direnv_version "2.32.3" || exit 1
dotenv_if_exists ".env"
source_env_if_exists .myenvrc
# devbox's direnv script is not `strict_env` safe
unstrict_env eval "$(devbox generate direnv --print-envrc)"