.DS_Store
.idea
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/inspectionProfiles/Profiles_2023.05.xml
.idea/inspectionProfiles/Profiles_2023.06.xml
.idea/inspectionProfiles/Profiles_2023.07.xml