.blinking-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #00ff00;
	border-radius: 50%;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
